<footer class="footer footer-center p-4 bg-primary text-base-content mt-auto font-quicksand">
    <div>
      <p>Copyright © 2022 - All right reserved by ShaiTech; Designed by <a href="https://www.shailynmoore.com/">nickaldwin666</a></p>
    </div>
</footer> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>
