<!DOCTYPE html>
<html lang="en" data-theme="pastel">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dandelion</title>
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/imgs/favicon-32x32.png"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            pink: '#EFCDD1',
            darkpink: '#DB828C',
            darkred: '#540C10',
          },
          fontFamily: {
        'quicksand': ['"Quicksand"', 'cursive'],
          },
          // Define animation class
          animation: {
            'ltr-linear-infinite': 'move-bg 40s linear infinite',
          },
          // Define keyframes
          keyframes: {
            'move-bg': {
              '0%':   { 'background-position': '0 0' },
              '100%': { 'background-position': '2000px 0'}
            }
          }
        }
      }
    }
  </script>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://kit.fontawesome.com/854239efb5.js" crossorigin="anonymous"></script>
</head>
<header class="mr-3">
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/dashboard"><span class>Home</span></a></li>
            <li><a href="/todos"><span>To-Do List</span></a></li>
            <li><a href="/feed"><span>Inspo Feed</span></a></li>
            <li><a href="/moodboard"><span>Mood Board</span></a></li>
            <li><a href="/budget/<%=moment().format("YYYY-MM") %>"><span>Budget</span></a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <img src="/imgs/dandelion.png" class="h-24">
      </div>
      <div class="navbar-end">
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
    </div>
  </header>

</body>
</html>















