<%- include('partials/frontheader') -%>

<div class="h-screen w-screen pb-14 bg-center bg-cover flex justify-end bg-cover" style="background-image:url('/imgs/bg.svg');">
	<!--Main-->
	<div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-col justify-center md:flex-row items-center">
		
		<!--Left Col-->
		<div class="flex flex-col w-full xl:w-2/5 justify-start md:justify-center items-center ">
            <h1 class="slide-in-bottom-h1"><img class="w-9/12 lg:w-8/12 max-w-3xl" src="/imgs/dandelion.gif"></h1>
			<p class="leading-normal text-secondary-focus text-2xl mb-8 justify-self-center slide-in-bottom-subtitle font-quicksand">A new way to imagine your life</p>
		</div>
		
		<!--Right Col-->
		<div class="flex justify-start w-2/5 xl:w-2/5 ">
			<a href="/login" class="ml-10 lg:mr-0 slide-in-bottom btn btn-primary"> Login</a>
			<a href="/signup" class="ml-10 lg:mr-0 slide-in-bottom btn btn-primary"> Signup</a>
		</div>	
	</div>
</div>

    

<%- include('partials/footer') -%>
